
.coantiner{
    width: 50%;
    height: 40vh;
    border-color: black;
    background-color: black;
}
.coantiner1{
    width: 50%;
    height: 40vh;
    border-color: black;
    background-image: url();
}
.coantiner2{
    width: 50%;
    height: 40vh;
    border-color: black;
}
.coantiner3{
    width: 50%;
    height: 40vh;
    border-color: black;
}
